%header
  %h1
    = t '.h1'

  #add_location
    = simple_form_for :location do |f|
      = f.input :name
      = f.input :address
      = f.submit class: 'submit'

#body
  #locations
    %h2
      = t '.your_places'

    %ul.locations
      .empty_message
        = t '.empty_message'

  .map_container
    #map
    .error_message
      = t '.geocoding_error'
