%h1
  = t '.h1'

.form
  = simple_form_for :location do |f|
    = f.input :name
    = f.input :address
    = f.submit

.locations
  %h2
    = t '.your_places'
  %ul
    = render partial: 'location', collection: @locations

#map
